[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/AndrzejBarecki
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/AndrzejBarecki
	label-Verified = -1..+1 group user/AndrzejBarecki
	push = group user/AndrzejBarecki
	read = group user/AndrzejBarecki
	rebase = group user/AndrzejBarecki
	removeReviewer = group user/AndrzejBarecki
	submit = group user/AndrzejBarecki
[access "refs/heads/*"]
	create = group user/AndrzejBarecki
	push = +force group user/AndrzejBarecki
	pushMerge = group user/AndrzejBarecki
	read = group user/AndrzejBarecki
[access "refs/tags/*"]
	push = group user/AndrzejBarecki
	push = +force group user/AndrzejBarecki
